// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
/////////////////////////////////////////////////////////////////////////////

IDI_ICON1               ICON                    "icon1.ico"

IDR_TXT1                txt                     "config\\map.txt"

/////////////////////////////////////////////////////////////////////////////
